<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="<%=imgsrc%>" style="width: 100px;height: 100px">
  </body>
</html>
